@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base{

}
@layer components{
   .bg{
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, #47CFA4 0%, #47BFC8 77.08%, #47B0DF 100%);
   }
   .bg2{
      background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(56, 149, 131, 0.5) 0%, rgba(92, 219, 148, 0.5) 77.08%, rgba(141, 228, 175, 0.5) 100%);
   }
   .step_box{
      max-width: 502px;
      border-radius: 38px;
      padding: 22px 31px;
      
   }
   .step_box:nth-child(odd){
      border: 2px solid #80808091;
   }
   .step_box:nth-child(even){
      border: 2px solid #40f4d4;
   }
   .step_box:nth-child(odd)::after{
      position: absolute;
      right: -11px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: #80808091;
      width: 14px;
      height: 14px;
      content: "";
      top: 46px;
      transform: rotate(-28deg);
   }
   .step_box:nth-child(even)::after{
      position: absolute;
      left: -11px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: rgba(92, 219, 148, 1);
      width: 14px;
      height: 14px;
      content: "";
      top: 46px;
      transform: rotate(34deg);
   }
 
}
@layer utilities{

}
