@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base{

}
@layer components{
   .bg{
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, #47CFA4 0%, #47BFC8 77.08%, #47B0DF 100%);
   }
   .bg2{
      background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(56, 149, 131, 0.5) 0%, rgba(92, 219, 148, 0.5) 77.08%, rgba(141, 228, 175, 0.5) 100%) ;
   }
   .text-hover {
      transition: transform;
      transition-delay: 0.2s;
      transition-duration: 0.6s;
   }
    
   .read_more {
      display: none;
   }
   .text-hover:hover .read_more {
      display: inline;
   }
   .hover-class {
      cursor: pointer;
      
   }
   .read_more_link {
      opacity: 0;
      transition: opacity;
      transition-delay: 0.3s;
      transition-duration: 0.8s;
   }
   .hover-class:hover .read_more_link {
     opacity: 1;

   }
   .hover-class:hover .text-hover {
      transform: translateY(-50px);
   }
}
@layer utilities{

}
